# Ignore dist folder but allow specific files
dist/*
!dist/desktop_pc/
!dist/desktop_pc/scene.gltf
!dist/desktop_pc/scene.bin

# Existing rules
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
